.dropship-icon {
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
    background-image: url("../images/Icon-Dropship.svg");
}

.active {
    .dropship-icon {
        background-image: url("../images/Icon-Dropship-Active.svg");
    }

    &.dropship-icon {
        background-image: url("../images/Icon-Dropship-Active.svg");
    }
}